[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/Mapache"]
	path = content/themes/Mapache
	url = https://github.com/v3rt1go/Mapache.git
